/* styles.css */

body {
    color: white;
    display: flex;
    flex-direction: column;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.section-one {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    padding: 0px 200px;
    padding-bottom: 100px;
    gap: 50px;
}

/* header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}

/* header link text */
a {
    text-decoration: none;
    color: inherit;
    font-size: 18px;
    color: #e5e7eb;
}

.header-logo-text {
    font-weight: bold;
    font-size: 24px;
    color: #F9FAF8;
}

button {
    background-color: #3882F6;
    color: inherit;
    padding: 5px 20px;
    /* round corners */
    border-radius: 8px;
}

/* hero section */
.hero-section {
    display: flex;
    justify-content: space-between;
}

.hero-section .container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}

#puppies {
    width: 400px;
    border-radius: 10px;
}

h1 {
    margin: 0px;
    padding: 0px;
    font-weight: 800;
    font-size: 48px;
    color: #f9faf8;
}

#hero-secondary-text {
    margin: 0px;
    padding: 0px;
    font-size: 18px;
    color: #e5e7eb;
}

/* section-two */
.section-two {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
}

#information-header-text {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
}

.information-images-container {
    display: flex;
    gap: 20px;
}

.information-image {
    width: 200px;
    border: 2px solid #3882F6;
    border-radius: 10px;
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.information-subtext {
    color: #1f2937;
}

/* section-three */